PetProject.xcodeproj/project.xcworkspace/xcuserdata/timofejlukasevic.xcuserdatad/UserInterfaceState.xcuserstate
PetProject.xcodeproj/xcuserdata/timofejlukasevic.xcuserdatad/xcdebugger
PetProject.xcworkspace/xcuserdata/timofejlukasevic.xcuserdatad/UserInterfaceState.xcuserstate
Pods/
**/.DS_Store
